<nav class="navbar">
    <ul>
        <li class="active"><a [routerLink]="['/dashboard/employee-scheduling']">Employee Scheduling</a></li>
        <li><a [routerLink]="['/dashboard/vehicle-routing']">Vehicle Routing</a></li>
        <li><a [routerLink]="['/dashboard/load-distribution']">Load Distribution</a></li>
        <li><a [routerLink]="['/dashboard/call-center-scheduling']">Call Center Scheduling</a></li>
        <li><a [routerLink]="['/dashboard/time-table-scheduling']">Time Table Scheduling</a></li>
    </ul>
    <button class="logout-btn" (click)="logout()">LogOut</button>
</nav>


<router-outlet></router-outlet>